services:
  #---- Reverse Proxy
  nginx:
    image: pei-nginx:latest
    container_name: nginx
    ports:
      - "${NGINX_PORT1}:${NGINX_PORT1}"
      - "${NGINX_PORT2}:${NGINX_PORT2}"
    environment:
      - KEYCLOAK_HOST=${KEYCLOAK_HOST}
      - KEYCLOAK_PORT=${KEYCLOAK_PORT}
      - POLICY_HOST=${POLICY_HOST}
      - POLICY_PORT=${POLICY_PORT}
      - DASHBOARD_HOST=${DASHBOARD_HOST}
      - DASHBOARD_PORT=${DASHBOARD_PORT}
      - ML_HOST=${ML_HOST}
      - ML_PORT=${ML_PORT}
      - DECISION_HOST=${DECISION_HOST}
      - DECISION_PORT=${DECISION_PORT}
      - DATA_INGESTION_HOST=${DATA_INGESTION_HOST}
      - DATA_INGESTION_PORT=${DATA_INGESTION_PORT}
    healthcheck:
      test: ["CMD-SHELL", "service nginx status"]
      interval: 10s
      timeout: 10s
      retries: 20
      start_period: 15s
    networks:
      - nwdaf-network
    restart: unless-stopped

  #---- Frontend
  frontend:
    image: frontend:latest
    container_name: frontend
    ports:
      - "5173:5173"
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - HOST=0.0.0.0
    working_dir: /app
    networks:
      - nwdaf-network
    restart: unless-stopped

networks:
  nwdaf-network:
    external: true
