services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pei-nwdaf-frontend
    ports:
      - "${FRONTEND_PORT:-5173}:5173"
    environment:
      - VITE_RAW_DATA_URL=${RAW_DATA_URL:-http://data-ingestion:7000}
      - VITE_DATA_STORAGE_URL=${DATA_STORAGE_URL:-http://data-storage:8000}
      - VITE_ML_URL=${ML_URL:-http://pei-ml:8060}
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
    networks:
      - nwdaf-network
    restart: unless-stopped

volumes:
  node_modules:

networks:
  nwdaf-network:
    external: true
