version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pei-nwdaf-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_RAW_DATA_URL=http://data-ingestion:7000
      - VITE_DATA_STORAGE_URL=http://data-storage:8000
      - VITE_ML_URL=http://pei-ml:8060
    volumes:
      - ./src:/app/src
      - ./public:/app/public
      - ./index.html:/app/index.html
      - ./vite.config.js:/app/vite.config.js
      - ./package.json:/app/package.json
      - node_modules:/app/node_modules
    networks:
      - nwdaf-network
    restart: unless-stopped

volumes:
  node_modules:

networks:
  nwdaf-network:
    external: true
