name: CI/CD

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  trigger-jenkins:
    runs-on: self-hosted

    steps:
      - name: Start build
        env:
          JENKINS_USER: admin
          JENKINS_API_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
          JENKINS_TRIGGER_TOKEN: ${{ secrets.JENKINS_TRIGGER_TOKEN }}
        run: >-
                  curl -X POST
                  -u "${JENKINS_USER}:${JENKINS_API_TOKEN}"
                  "http://localhost:8080/job/frontend/build?token=${JENKINS_TRIGGER_TOKEN}"
